/Config
/Intermediate
/Saved
/Build
/Content/StarterContent/**
/Content/GTFreeMaterials/**
/Content/InfinityBladeEffects/**
/Content/InfinityBladeGrassLands/**
/Content/InfinityBladeIceLands/**
/Content/InfinityBladeFireLands/**
/Content/KiteDemo/**
*.uproject